# [데이터 전처리 100 문제](https://www.datamanim.com/dataset/99_pandas/pandasMain.html)
## 01 Getting & Knowing Data

In [1]:
import pandas as pd

#### 1. 데이터를 로드하라. 데이터는 \t을 기준으로 구분되어있다.

In [4]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'
df = pd.read_csv(DataUrl, sep = '\t')

#### 2. 데이터의 상위 5개 행을 출력하라

In [7]:
ans = df.head()
ans

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

#### 3. 데이터의 행과 열의 갯수를 파악하라

In [14]:
print(df.shape)
print('행:', df.shape[0])
print('열:', df.shape[1])

(51490, 61)
행: 51490
열: 61

#### 4. 전체 컬럼을 출력하라

In [16]:
ans = df.columns
ans

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

#### 5. 6번째 컬럼명을 출력하라

In [17]:
ans = df.columns[5]
ans

'firstBlood'

#### ★6. 6번째 컬럼의 데이터 타입을 확인하라
- iloc[] 쓰임새 기억하기 → 숫자로 데이터가 있는 위치에 접근함.
- loc[] 쓰임새 기억하기 → 칼럼명을 직접 적거나 조건식을 이용하여 데이터에 접근함.  
[[pandas] 2-2. loc와 iloc 차이와 사용방법](https://bigdaheta.tistory.com/42)

In [30]:
ans = df.iloc[:, 5].dtype
ans

dtype('int64')

In [32]:
# 예시1
df.loc[1:4, 'gameId':'seasonId']

       gameId   creationTime  gameDuration  seasonId
1  3229566029  1497848803862          1851         9
2  3327363504  1504360103310          1493         9
3  3326856598  1504348503996          1758         9
4  3330080762  1504554410899          2094         9

In [34]:
# 예시2
df.iloc[1:4, 0:4]

       gameId   creationTime  gameDuration  seasonId
1  3229566029  1497848803862          1851         9
2  3327363504  1504360103310          1493         9
3  3326856598  1504348503996          1758         9

In [35]:
# 예시3
df.iloc[0,2]

1949

In [37]:
# 예시3
df.loc[0, 'gameDuration']

1949

#### ★7. 데이터셋의 인덱스 구성은 어떤가

In [40]:
ans = df.index
ans

RangeIndex(start=0, stop=51490, step=1)

#### 8. 6번째 컬럼의 3번째 값은 무엇인가?

In [46]:
ans = df.iloc[2, 5]
ans

2